# -*- coding: utf-8 -*-
"""Sample controller module"""

# turbogears imports
from tg import expose
#from tg import redirect, validate, flash

# project specific imports
from scriptspony.lib.base import BaseController
#from scriptspony.model import DBSession, metadata


class SampleController(BaseController):
    
    @expose('scriptspony.templates.index')
    def index(self):
        return dict(page='index')
