<If "%{HTTPS} != 'on' || %{SERVER_NAME} in {'pony.scripts', 'scripts', 'scripts.mit.edu', 'scripts-cert', 'scripts-cert.mit.edu'}">
RedirectPermanent / https://pony.scripts.mit.edu/
</If>

<If "%{SERVER_NAME} in {'pony.scripts.mit.edu'}">
Header always set Strict-Transport-Security "max-age=31536000"
</If>

AddDefaultCharset utf-8

Options +FollowSymLinks
RewriteEngine On

#Error mode
#RewriteRule ^(.*)$ error.html [L]

# Prevent recursion
RewriteRule ^dispatch\.f?cgi/.*$ - [L]
RewriteRule ^public/.*$ - [L]

RewriteRule ^scripts/(.*)$ http://scripts.mit.edu/$1 [P,L]

# Get the local directory path and file that we're searching for
RewriteCond %{REQUEST_FILENAME} ^(.*?)/(dev/)?([^/]*)$
# If that file exists in ./public
RewriteCond %1/public/%2%{PATH_INFO} -f
# Then serve it directly
RewriteRule ^(?:dev/)?(.*)$ public/$1 [L]

# Use FCGI for everything else
RewriteRule ^(.*)$ dispatch\.fcgi/$1 [L]

AuthType SSLCert
Require valid-user
AuthSSLCertAuthoritative off
AuthOptional on
