AddDefaultCharset utf-8

Options +FollowSymLinks
RewriteEngine On

# Prevent recursion
RewriteRule ^dispatch\.f?cgi/.*$ - [L]
RewriteRule ^public/.*$ - [L]

RewriteRule ^scripts/(.*)$ http://scripts.mit.edu/$1 [P,L]

# Get the local directory path and file that we're searching for
RewriteCond %{REQUEST_FILENAME} ^(.*?)/(dev/)?([^/]*)$
# If that file exists in ./public
RewriteCond %1/public/%2%{PATH_INFO} -f
# Then serve it directly
RewriteRule ^(?:dev/)?(.*)$ public/$1 [L]

# Use FCGI for everything else
RewriteRule ^(.*)$ dispatch\.fcgi/$1 [L]

AuthType SSLCert
Require valid-user
AuthSSLCertAuthoritative off
AuthOptional on
